<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Root Layout TEST Page</title>
</head>
<body>

	<!-- This is my 1998-style - today a real web-designer would probably write this with DIV + CSS, only? ;-) -->
	<table border="0" cellspacing="0" cellpadding="0"
		style="margin-left: 0; margin-right: 0" width="100%">
		<tr>
			<td valign="bottom" align="left" width="44" height="44"><img
				src="images/gears.gif" alt="Working hard... ;-)" width="44"
				height="44" /></td>
			<td valign="middle" align="left"><font
				face="Verdana, Arial, Helvetica" size="6">&nbsp;DO</font><i><font
					size="6" face="Times New Roman">it</font> <font
					face="Times New Roman, Times" size="6"> </font> </i><font
				face="Verdana, Arial, Helvetica" size="5"> &nbsp; Example</font></td>
			<td width="145">
				<p align="center">
					<img border="0" src="images/credit_cards4.gif" align="middle"
						width="113" height="41">
				</p></td>
		</tr>
	</table>

	<div location="body">PAGE MAIN BODY GOES HERE</div>

	<p class="Footer" align="center">
		Vaadin Example Application created by <a
			href="http://www.vorburger.ch">Michael Vorburger</a>
	</p>


</body>
</html>